<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Detalle de productos" , style: "productdetail-style" }) %>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <div class="title">
            <p>DETALLE DE PRODUCTO</p>
        </div>
        <main class="main__product__detail">
            <div class="list">
                <nav>
                    <ul>
                        <li class="list"><a href="/">Inicio  /</a></li>
                        <li class="list"><a href="/products">Producto  /</a></li>
                        <li class="list">Detalle de Producto</li>
                    </ul>
                </nav>
            </div>
            <div class="main-product-detail">


                <div class="product-name1">
                    <p>
                        <%=productItem.name %>
                    </p>
                    <div class="price1">
                        <p>
                            <%=productItem.price %>
                        </p>
                    </div>
                </div>
                <div class="product-detail">
                    <img src='/images/<%=productItem.image %>' alt='<%=productItem.name %>'> 
                </div>
            </div>

            <div class="product-description">
                <p class="description">Descripción del Producto</p>
                <p class="text">
                    <%=productItem.description%>
                </p>

                <p class="q">Cantidad</p>
                <div class="quantity">
                    <button><i class="fas fa-minus"></i></button>
                    <span>1</span>
                    <button><i class="fas fa-plus"></i></button>
                </div>
                <div class="payment">VER MEDIOS DE PAGO</div>
                <div class="product-buy"><a href="/cart1"><button type="submit">AGREGAR AL CARRITO</button></a>
                </div>
            </div>
            </div>
    
            <div class="productos-relacionados">
                <div class="productos-relacionados-title">
                    <p class="titulo2">PRODUCTOS RELACIONADOS</p>
                    <hr>
                </div>

                <% for (let i=0; i < (productsRelated.length <= 2 ? productsRelated.length : 3 ); i ++) { %>
                    <article>
                        <a href='/products/detail/<%= productsRelated[i].id %>'><img class="img-product"
                                src='/images/<%= productsRelated[i].image %>' alt='<%= productsRelated[i].name %>'></a>
                        <div class="product-info">
                            <p class="products__name">
                                <%= productsRelated[i].name %>
                            </p>
                            <p class="products__price">
                                <%= productsRelated[i].price %>
                            </p>
                            <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
                        </div>
                    </article>
                <% } %>
            </div>
        </main>


        <!--<div class="product-name1"><p>NOMBRE DEL PRODUCTO </p>
        <div class="price1"><p>$1.00</p></div>
    </div>
    
    <div= class="product-detail">     
    <img src="/images/mini-frutos-del-bosque.jpg" alt="Alfajores XL">
    </div>

    <div class="product-description">
            <p class="description">Descripción del Producto</p>
            <p class="text"> lorem ipsum dolor sit amet et delectus accomodre his consul cipiosae legendos</p>
            <p class="q">Cantidad</p>
            <div class="quantity">
                <button><i class="fas fa-minus"></i></button>
                <span>1</span>
                <button><i class="fas fa-plus"></i></button>
            </div>
            <div class="payment">VER MEDIOS DE PAGO</div>
            <div class="product-buy"><a href="/cart1"><button type="submit">AGREGAR AL CARRITO</button></a> 
            </div>
        </div>
    </div>
    </section>
    <div class="productos-relacionados">
        <div class="productos-relacionados-title"><p class="titulo2">PRODUCTOS RELACIONADOS</p>
            <hr>
        </div>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajores XL">
            <div class="product-info">
                <p class="name">Cantucci con almendras</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate blanco">
            <div class="product-info">
                <p class="name">Alfajor chocolate blanco</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>
        <article>
            <img class="img-product" src="/images/mini-frutos-del-bosque.jpg" alt="Alfajor chocolate negro">
            <div class="product-info">
                <p class="name">Alfajor chocolate negro</p>
                <p class="price">$0.00</p>
                <a href="/cart1"><button type="submit">AGREGAR <i class="fas fa-cart-plus"></i></button></a>
            </div>
        </article>

        </div>
        </main>

          -->
    </body>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</html>