<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/adminProductsList.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <section class="admin">
            <!--PARTIAL NAVBAR-->
            <%- include('../../partials/navbarAdmin') %>
                <div class="admin__container">
                    <div class="adminTitle">
                        <p class="adminTitle__p">EDITAR PRODUCTOS</p>
                    </div>

                    <article class="productsList">
                        <% for(let i=0; i < productsList.length; i++) { %>
                        <div class="productsList__div">
                        
                            <img class="productsList__img" src="/images/<%= productsList[i].image %>"
                                alt="<%= productsList[i].name %>">
                            <div class="productsList__info">
                                <p class="productsList__name"><%= productsList[i].name %></p>
                                <p class="productsList__category"><%= productsList[i].category %></p>
                                <p class="productsList__price"><%= productsList[i].price %></p>
                            </div>
                            <div class="productsList__buttons">
                                <a class="productsList__a" href="#">
                                    <button class="productsList__button-edit" type="submit">
                                        <i class="productsList__icon far fa-edit"></i> <span
                                            class="productsList__span">Editar</span>
                                    </button>
                                </a>

                                <a class="productsList__a" href="#">
                                    <button class="productsList__button-remove" type="submit">
                                        <i class="productsList__icon far fa-trash-alt"></i> <span
                                            class="productsList__span">Eliminar</span>
                                    </button>
                                </a>
                            </div>
                            
                        </div>
                        <% } %>
                    </article>

                </div>
        </section>
    </main>
</body>

</html>