<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../../partials/headerAdmin') %>
        <main>
            <%- include('../../partials/navbarAdmin') %>

                <section class="admin">
                    <div class="admin_container">
                        <div class="admin__container__div">
                            <div class="adminTitle">
                                <p class="adminTitle__p"><i class="adminTitle__icon fa-solid fa-file-pen"></i> Editar
                                    producto</p>
                            </div>
                            <hr class="adminTitle__hr">

                            <div class="newProduct">
                                <form class="newProduct_form" action="/admin/<%= product.id %>?_method=PUT"
                                    method="POST" enctype="multipart/form-data">
                                    <label class="newProduct_label" for="name">Nombre</label>
                                    <input class="newProduct_input" type="text" name="name" id="name" required
                                        value="<%= product.name %>">

                                    <label class="newProduct_label" for="category">Categoría</label>
                                    <select class="newProduct_select" name="category" required>
                                        <option value="c1" <%=product.category=="c1" ? "selected" : null %> >Alfajores
                                        </option>
                                        <option value="c2" <%=product.category=="c2" ? "selected" : null %> >Budines
                                        </option>
                                        <option value="c3" <%=product.category=="c3" ? "selected" : null %> >Cookies
                                        </option>
                                        <option value="c4" <%=product.category=="c4" ? "selected" : null %> >Desayunos y
                                            boxes</option>
                                        <option value="c5" <%=product.category=="c5" ? "selected" : null %> >Mini
                                            postres</option>
                                        <option value="c6" <%=product.category=="c6" ? "selected" : null %> >Macarons
                                        </option>
                                        <option value="c7" <%=product.category=="c7" ? "selected" : null %> >Productos
                                            secos</option>
                                        <option value="c8" <%=product.category=="c8" ? "selected" : null %> >Postres
                                        </option>
                                    </select>

                                    <label class="newProduct_label" for="price">Precio</label>
                                    <input class="newProduct_input" type="text" name="price" id="price" required
                                        value="<%= product.price %>">

                                    <label class="newProduct_label" for="description">Descripción</label>
                                    <input id="lastInput" class="newProduct_input" type="text" name="description"
                                        id="description" value="<%= product.description %>">

                                    <label class="newProduct_label-img">Agregar imagen de producto</label>
                                    <input class="newProduct_input-file" type="file" name="imgProduct" accept=".jpg">

                                    <div class="edit">
                                        <button class="edit_a edit_button-clean" type="submit">EDITAR</button>
                                    </div>
                                </form>
                                <!-- <form class="newProduct_form" action="/admin/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                        <button class="edit_a edit_button" type="delete">DELETE</button>
                                </form> -->
                                <form class="newProduct_form" action="/admin/deleteProduct/<%= product.id %>?_method=DELETE" method="POST">
                                    <button class="edit_a edit_button" type="submit">ELIMINAR</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
</body>

</html>