<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../../partials/headerAdmin') %>
        <main>
            <%- include('../../partials/navbarAdmin') %>

                <section class="admin">
                    <div class="admin_container">
                        <div class="admin__container__div">
                            <div class="adminTitle">
                                <p class="adminTitle__p"><i class="adminTitle__icon fa-solid fa-file-pen"></i> Editar
                                    producto</p>
                            </div>
                            <!-- <hr class="adminTitle__hr"> -->

                            <div class="newProduct">
                                <form class="newProduct_form" action="/admin/products/<%= product.id %>?_method=PUT"
                                    method="POST" enctype="multipart/form-data">
                                    <label class="newProduct_label" for="name">Nombre</label>
                                    <input class="newProduct_input" type="text" name="name" id="name" required
                                        value="<%= product.name %>">

                                    <label class="newProduct_label" for="category">Categoría</label>
                                    <select class="newProduct_select" name="category" required>
                                        <% for (let i=0; i< category.length;i++) { %>
                                            <option value= "<%= category[i].id %>" <%=product.category_id==category[i].id ? "selected" : null
                                                %> >
                                            <%=category[i].type%>
                                            </option>
                                            <% } %>
            
                                    </select>

                                    <label class="newProduct_label" for="price">Precio</label>
                                    <input class="newProduct_input" type="text" name="price" id="price" required
                                        value="<%= product.price %>">

                                    <label class="newProduct_label" for="description">Descripción</label>
                                    <textarea class="newProduct_input" id="description" name="description"
                                        rows="4"><%= product.description %></textarea>

                                    <div class="newProduct_div-img">
                                        <label class="newProduct_label-img">Agregar imagen de producto</label>
                                        <input class="newProduct_input-file" type="file" name="imgProduct"
                                            accept=".jpg" multiple>
                                    </div>

                                    <div class="edit">
                                        <button class="edit_a edit_button-clean" type="submit">EDITAR</button>
                                    </div>
                                </form>
                                <!-- <form class="newProduct_form" action="/admin/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                        <button class="edit_a edit_button" type="delete">EDITAR</button>
                                </form>  -->
                            </div>
                        </div>
                    </div>
                </section>
        </main>
</body>

</html>