<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Nuestros productos" , style: "products" }) %>

<body>
    <header>
    <%- include('../partials/header') %>
    </header>
    <section class="heading">
        <p class="heading__p">PRODUCTOS</p>
    </section>
    <main>
        <div class="filter">
            <button class="filter__button" type="submit">
                <i class="filter__icon-caret-down fa-solid fa-caret-down"></i> MOSTRAR FILTROS
            </button>
        </div>

        <div class="reference-container">
            <div class="reference">
                <p class="reference__p"><b>BUSCAR PRODUCTOS</b></p>
            </div>

            <!-- <div class="reference__location"> -->
            <div class="reference__div">
                <a class="reference__a" href="/products/list">
                    <p>Productos >></p>
                </a>
                <p><b>Mini postres</b></p>
            </div>
            <button class="reference__button" type="submit">
                <i class="reference__icon-filter fas fa-filter"></i>
            </button>
            <!-- </div> -->
        </div>

        <section class="products-section">
            <section class="filter-section">
                <div class="close">
                    <button class="close__button" type="submit"><i class="close__x-icon fas fa-times"></i></button>
                </div>

                <section class="search">
                    <form class="search__div" action="/products/list" method="GET">
                        <button class="search__button" type="submit" ><i class="search__icon fas fa-search" ></i></button>
                        <input class="search__text" type="text" placeholder="Buscar producto"  name="search" >
                    </form>
                </section>

                <div class="categories" name="#">
                    <label class="categories__label">CATEGORÍAS</label>
                    <% for (let i=0; i< categorias.length;i++) { %>
                        <a class="categories__a" href="/products/list?category=<%=categorias[i].id%>"><button class="categories__button"><%=categorias[i].type%></button></a>
                    <% } %>
                </div>
            </section>

            <div class="products">
                 <% for (let i=0; i<productsList.length; i ++) { %> 
                    <article class="products__article">

                        <a href="/products/detail/<%= productsList[i].id %>"><img class="products__img" src='/images/products/<%= productsList[i].images && productsList[i].images.length > 0 ? productsList[i].images[0].url : null %>' alt='<%= productsList[i].name %>'></a>
                                                                                                                                    
                        <div class="products__div-info">
                            <p class="products__name">
                                <%=productsList[i].name %>
                            </p>
                            <p class="products__price">
                                $ <%=productsList[i].price %>
                            </p>
                            <a class="products__a" href="#">
                                <button class="products__button-add" type="submit">
                                    AGREGAR <i class="pruducts__icon-cart fas fa-cart-plus"></i>
                                </button>
                            </a>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>