<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/cart1.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section class="heading">
        <p class="heading__p">CARRITO DE COMPRAS</p>
    </section>

    <main>
        <%- include('../partials/cartSteps') %>
        
                <article class="title">
                    <!-- <div class="title__div"> -->
                    <p class="title__product">PRODUCTO</p>

                    <p class="title__name">NOMBRE</p>
                    <p class="title__price">PRECIO</p>
                    <p class="title__quantity">CANTIDAD</p>
                    <!-- </div>
                    <div class="title__div2"> -->
                    <p class="title__total">TOTAL</p>
                    <p class="title__remove">ELIMINAR</p>
                    <!-- </div> -->
                </article>

                <% for(let i = 0; i < 3; i++) { %>
            <article class="product__article">
                <img class="product__img" src="/images/<%= productsList[i].image %>" alt="<%= productsList[i].name %>">
                <div class="product__info">
                    <!-- <div class="product__div-name"> -->
                        <p class="product__name"><%= productsList[i].name %></p>
                        <p class="product__price"><%= productsList[i].price %></p>
                    <!-- </div> -->
                    <div class="product__div-quantity">
                        <div class="product__quantity">
                            <button class="product__button-less">
                                <i class="product__icon fas fa-minus"></i>
                            </button>
                            <span class="product__span">1</span>
                            <button class="product__button-add">
                                <i class="product__icon fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product__total">
                    <div class="product__div-total">
                        <p class="product__total-title">Total</p>
                        <p class="product__price">$0.00</p>
                    </div>
                    <button class="product__button-remove" type="reset">
                        <i class="product__icon-trash fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>
            <% } %>

            <div class="container-code-checkout">
                <div class="code">
                    <input class="code__input" type="text" placeholder="Ingres치 tu c칩digo de descuento">
                    <button class="code__button" type="submit">VALIDAR</button>
                </div>

                <div class="container-checkout-buy">
                    <div class="checkout">
                        <div class="checkout__subtotal">
                            <p>Subtotal</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__bonus">
                            <p>Bonificaci칩n</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__total">
                            <p>TOTAL</p>
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="buy">
                        <a class="buy__a" href="/cart/2"><button class="buy__button" type="submit">INICIAR
                                COMPRA</button></a>
                        <a class="buy__a" href="/products/list">Ver m치s productos</a>
                    </div>
                </div>
            </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>