<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: "Carrito de compras" , style: "cart2" }) %>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section class="heading">
        <p class="heading__p">CARRITO DE COMPRAS</p>
    </section>

    <main>
        <%- include('../partials/steps') %>

        <section class="container">
            <div class="contact">
                <div class="contact__title">
                    <p>DATOS DE CONTACTO</p>
                </div>
                <form class="contact__form" action="#" method="GET">
                    <label class="contact__label" for="name">Nombre(s)</label>
                    <input class="contact__input" type="text" name="name" id="name" required>

                    <label class="contact__label" for="lastname">Apellido(s)</label>
                    <input class="contact__input" type="text" name="lastname" id="lastname" required>

                    <label class="contact__label" for="email">Correo electrónico</label>
                    <input class="contact__input" type="email" name="email" id="email" required>

                    <div class="contact__phones">
                        <div class="contact__phones-divs">
                            <label class="contact__label" for="tel">Teléfono</label>
                            <input class="contact__input" type="tel" name="tel" id="tel">
                        </div>
                        <div class="contact__phones-divs">
                            <label class="contact__label" for="cel">Celular</label>
                            <input class="contact__input" type="tel" name="cel" id="cel">
                        </div>
                    </div>

                    <div class="contact__country">
                        <label class="contact__label">País/Región</label>
                        <select class="contact__country-select" name="country">
                            <option value="Argentina" selected>Argentina</option>
                        </select>
                    </div>

                    <div class="contact__region">
                        <div class="contact__region-divs">
                            <label for="contact__province-label">Provincia</label>
                            <select name="province" class="contact__province-select" required>
                                <option hidden selected>Selecionar</option>
                                <% const provinces = ['Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán'] %>
                                <% for(let province of provinces) { %>
                                    <option value="<%= province %>" <%= locals.old && (province == old.province) ? 'selected' : null %>>
                                        <%= province %>
                                    </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="contact__region-divs">
                            <label class="contact__label" for="location">Localidad</label>
                            <input class="contact__input" type="text" name="location" id="location" required>
                        </div>
                    </div>

                    <div class="contact__adress">
                        <div class="contact__adress-divs">
                            <label for="number">Número</label>
                            <input class="contact__input" type="text" name="number" id="number" required>
                        </div>

                        <div class="contact__adress-divs">
                            <label class="contact__label" for="floor">Piso</label>
                            <input class="contact__input" type="text" name="floor" id="floor">
                        </div>

                        <div class="contact__adress-divs">
                            <label class="contact__label" for="apt">Dpto</label>
                            <input class="contact__input" type="text" name="apt" id="apt">
                        </div>

                        <div class="contact__adress-divs">
                            <label class="contact__label" for="cp">CP</label>
                            <input class="contact__input" type="text" name="cp" id="cp" required>
                        </div>
                    </div>

                    <div class="radio">
                        <div class="radio__divs">
                            <input type="radio" name="shipping" value="delivery" id="delivery">
                            <label for="delivery">Envío a domicilio</label>
                        </div>
                        <div class="radio__divs">
                            <input type="radio" name="shipping" value="branch" id="branch">
                            <label for="branch">Retiro por sucursal</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="order">
                <div class="order__title">
                    <p>TU ORDEN</p>
                </div>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Cookie de chocolate</p>
                        <p class="order__quantity">x 2</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Cookie de avena</p>
                        <p class="order__quantity">x 1</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <article class="order__product">
                    <img class="order__img" src="/images/mini-frutos-del-bosque.jpg" alt="Cookie de chocolate">
                    <div class="order__name-quantity">
                        <p class="order__name">Alfajor de maicena</p>
                        <p class="order__quantity">x 1</p>
                    </div>
                    <div class="order__div-price">
                        <p class="order__price">$0.00</p>
                    </div>
                </article>

                <div class="continue-buying">
                    <div class="checkout">
                        <div class="checkout__subtotal">
                            <p>Subtotal</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__bonus">
                            <p>Bonificación</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__shipping">
                            <p>Envío</p>
                            <p>$0.00</p>
                        </div>
                        <div class="checkout__total">
                            <p>TOTAL</p>
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="buy">
                        <a class="buy__a" href="/cart/3">
                            <button class="buy__button" type="submit">CONTINUAR COMPRA</button>
                        </a>
                        <a class="buy__a" href="/products/list">
                            Ver más productos
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>