<!DOCTYPE html>
<%- include('../partials/head', { title: "Iniciar sesión" , style: "login"}) %>

  <body>
    <header>
      <%- include('../partials/header') %>
    </header>

    <main class="main-login">
      <!-- <div class="main-div-box"> -->
      <div class="principal-container">
        <div class="title-box">
          <p class="titlep">Iniciar sesión</p>
          <!-- <div class="div-center"> -->
            <a class="final-a" href="/users/register">Registrate</a>
          <!-- </div> -->
        </div>
        <!-- </div> -->

        <form method="POST" action="/users/login">
          <div class="input-box">
            <!-- <label for="email">Usuario</label> -->
            <input class="input" type="email" name="email" id="email" placeholder="Usuario" value="<%= locals.old ? old.email : null %>">
            <i class="login-icon fa-solid fa-user"></i>
            <% if (locals.errors && errors.email) { %>
              <div>
                <%= errors.email.msg %>
              </div>
              <% } %>
                <% if (locals.errors && errors.generico) { %>
                  <div>
                    <%= errors.generico.msg %>
                  </div>
                  <% } %>
          </div>

          <div class="input-box">
            <!-- <label for="password">Contraseña</label> -->
            <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
            <i class="pass-icon fa-solid fa-key"></i>
            <% if (locals.errors && errors.password) { %>
              <div>
                <%= errors.password.msg %>
              </div>
              <% } %>
                <% if (locals.errors && errors.generico) { %>
                  <div>
                    <%= errors.generico.msg %>
                  </div>
                  <% } %>
          </div>

          <div class="box1">
            <div class="checkbox-box">
              <input class="checkbox-input" type="checkbox" name="check_login" id="check_login">
              <label class="checkbox-label" for="check_login">Recordarme</label>
            </div>
            <!-- <div class="forgotpass-box">
              <a class="forgotpass" href="">¿Olvidaste la contraseña?</a>
            </div> -->
          </div>
          
          <div class="submit-box">
            <button class="submit-input" type="submit">Iniciar sesión</button>
          </div>

          <div class="forgotpass-box">
            <a class="forgotpass" href="#">¿Olvidaste la contraseña?</a>
          </div>

          <!-- <div class="final-a-box">
            <div class="div-center">
              <a class="final-a" href="/users/register">
                <button type="button">REGISTRATE</button>
              </a>
            </div>
          </div> -->

        </form>
      </div>

    </main>
    <footer>
      <%- include('../partials/footer') %>

    </footer>
  </body>