<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="/css/userHeader.css">
    <link rel="stylesheet" href="/css/base-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c225f38a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include('../partials/headerUser') %>
    </header>

<main>
     
<div class="user__container">
            <div class="userTitle">
                <p class="userTitle__p">PERFIL DEL USUARIO</p>
            </div>

        <div class="user_info">
            <div class="user_name">
                <p>Hola <%=locals.isLogged.name%></p>
                <img src="/images/avatars/<%=locals.isLogged.avatar%>">
            </div>
           

            <div class="user_others">
                <div class="alert-success"> <i class="fa-solid fa-envelope"></i><%=locals.isLogged.email%></div>
                <div class="last-orders"> <i class="fa-solid fa-rectangle-list"></i>Mis últimos pedidos</div>
                <div class="favourites"><i class="fa-solid fa-heart"></i>Mis favoritos</div>
                <div class="favourites"><a href="/users/edit/<%=locals.isLogged.id%>">Editar mis datos</a></div>
            </div>

        </div>
    
</div>

</main>
</body>

</html>
